<!-- 模板 -->
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">扫描列表</div>
                <div class="layui-card-body">
                    <table id="demo" lay-filter="test"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 脚本 -->
<script>
    layui.use(['jquery', 'table','layer'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            table = layui.table;

        var documentWidth = $(document).width;

        //第一个实例
        table.render({
            elem: '#demo',
            url: '/admin/scan/lst', //数据接口
            cols: [
                [ //表头
                    {
                    field: 'id',
                    title: 'ID',
                    width: 80,
                    sort: true,
                    fixed: 'left'
                    }, {
                    field: 'codeid',
                    title: '序列号',
                    width: documentWidth*0.5,
                    align: 'center'
                    }, {
                    field: 'scandate',
                    title: '扫描时间',
                    width: documentWidth*0.5,
                    align: 'center'
                }
                ]
            ],
            page: {
                limits : [30,40,50],
                limit : 30
            },
            height: 'full-200'
        });
    });

</script>
<!-- 样式 -->
<style scoped>

</style>