<!-- 模板 -->
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">创建组名</div>
                <div class="layui-card-body">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">输入框</label>
                            <div class="layui-input-block">
                                <input type="text" name="name" required lay-verify="required" placeholder="请输入组名" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn xxx" lay-submit lay-filter="formDemo">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 脚本 -->
<script>
    layui.use(['form'], function() {
        var form = layui.form,
            $ = layui.jquery;
        form.render();

        //监听提交
        form.on('submit(formDemo)', function(data) {
            console.log(data.field);
            $.post('/creategroup', data.field, function(res) {
                layui.use(['layer'],function () {
                    var layer = layui.layer;
                    console.log(res);
                    if(res.code === 1){
                        layer.msg(res.msg,{ icon:6},function () {
                            window.location.href = '/adminWeb/#/grouplst';
                        });
                    } else {
                        layer.msg(res.msg,{ icon:5},function () {
                            return false;
                        });
                    }

                })
            });
            return false;
        });
    });
</script>
<!-- 样式 -->
<style scoped>

</style>