<!-- 模板 -->
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">组名列表</div>
                <div class="layui-card-body">
                    <table id="demo" lay-filter="test"></table>
                    <script type="text/html" id="bar_detail">
                        <a class="layui-btn layui-btn-sm" lay-event="detail">查看</a>
                    </script>
                    <script type="text/html" id="bar_del">
                        <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 脚本 -->
<script>
    layui.use(['jquery', 'table'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            table = layui.table;

        var documentWidth = $(document).width;
        //第一个实例
        table.render({
            elem: '#demo',
            done: function () {
                $('#demo').next().css('height','auto');
            },
            url: '/admin/group/lst',
            cols: [
                [ //表头
                    {
                        field: 'id',
                        title: 'ID',
                        width: 80,
                        sort: true,
                        fixed: 'left'
                    },
                    {
                    field: 'name',
                    title: '组名',
                    width: documentWidth*0.4,
                    //     width: 100,
                    align: 'center'
                    },
                    {
                    title: '二维码列表',
                    fixed: 'right',
                    align: 'center',
                    width: documentWidth*0.4,
                    toolbar: '#bar_detail'
                    },
                    {
                    title: '操作',
                    fixed: 'right',
                    align: 'center',
                    width: documentWidth*0.2,
                    toolbar: '#bar_del'
                    }
                ]
            ],
            page: {
                limits : [30,40,50],
                limit : 30
            },
            height: 'full-200'
        });

        table.on('tool(test)',function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if(layEvent === 'del'){
                layer.confirm('真的要删除吗?',function (index) {
                    layer.close(index);
                    $.ajax({
                        type : 'GET',
                        url : "{:url('admin/Group/del')}?id="+data.id,
                        success : function (res) {
                            console.log(res);
                            if(res.code == 1){
                                layer.msg(res.msg,{ icon:6},function () {
                                    obj.del();
                                    return false;
                                });
                            } else {
                                layer.msg(res.msg,{ icon:5},function () {
                                    return false;
                                });
                            }
                        }
                    });
                });
            }
            else if(layEvent === 'detail'){
                window.location.href = '/adminWeb/#/codelst?group='+data.name;
            }
        });


    });
</script>
<!-- 样式 -->
<style scoped>
</style>