<!-- 模板 -->

<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">生成二维码</div>
                <div class="layui-card-body">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">二维码大小</label>
                            <div class="layui-input-block">
                                <input style="" type="radio" name="qrsize" value="1" checked>
                                <input type="radio" name="qrsize" value="2">
                                <input type="radio" name="qrsize" value="3">
                                <input type="radio" name="qrsize" value="4">
                            </div>
                            <div>
                                <img src="http://sport.jiyichuancheng.com/static/admin/images/1.png" alt="">
                                <img src="http://sport.jiyichuancheng.com/static/admin/images/2.png" alt="">
                                <img src="http://sport.jiyichuancheng.com/static/admin/images/3.png" alt="">
                                <img src="http://sport.jiyichuancheng.com/static/admin/images/4.png" alt="">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">选择分组</label>
                            <div class="layui-input-block">
                                <select name="group" lay-verify="required">
                                    <option value=""></option>
                                    {volist name='groups' id='vo'}
                                    <option value={$vo.name}>{$vo.name}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn xxx" lay-submit lay-filter="formDemo">生成</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 脚本 -->
<script>
    layui.use(['form'], function() {
        var form = layui.form,
            $ = layui.jquery;
        form.render();

        //监听提交
        form.on('submit(formDemo)', function(data) {
            console.log(data.field);
            $.post('/createcode', data.field, function(res) {
                layui.use(['layer'],function () {
                    var layer = layui.layer;
                    console.log(res);
                    if(res.code === 1){
                        layer.msg(res.msg,{ icon:6},function () {
                            window.location.href = '/adminWeb/#/codelst';
                        });
                    } else {
                        layer.msg('生成失败',{ icon:5},function () {
                            return false;
                        });
                    }

                })
            });
            return false;
        });
    });
</script>
<!-- 样式 -->
<style scoped>

</style>