<!-- 模板 -->
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">二维码列表
                    <select name="group" lay-verify="required" id="chooseGroup">
                        <option value="all">全部</option>
                        {volist name="groups" id="vo"}
                        <option value="{$vo.name}" {if condition="$vo.name eq $group"}selected{/if}>{$vo.name}</option>
                        {/volist}
                    </select>

                    {if condition = "$group eq 'all'"}
                    <a class="layui-btn layui-btn-radius layui-btn-disabled" style="float: right">批量下载</a>
                    {else /}
                    <a href="{:url('admin/Code/downLoadCode')}?group={$group}" class="layui-btn layui-btn-radius layui-btn-normal" style="float: right">批量下载</a>
                    {/if}
                </div>
                <div class="layui-card-body">
                    <table id="demo" lay-filter="test"></table>
                    <script type="text/html" id="bar_del">
                        <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 脚本 -->
<script>
    layui.use(['jquery', 'table','layer'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            table = layui.table;

        var documentWidth = $(document).width;

        //第一个实例
        table.render({
            elem: '#demo',
            done: function () {
                $('#demo').next().css('height', 'auto');
            },
            url: '/admin/code/lst',
            cols: [
                [ //表头
                    {
                        field: 'codeid',
                        title: '序列号',
                        width: documentWidth * 0.4,
                        sort: true,
                        fixed: 'left'
                    },
                    {
                        field: 'group',
                        title: '所属分组',
                        width: documentWidth * 0.4,
                        align: 'center'
                    },
                    {
                        field: 'time',
                        title: '扫码次数',
                        width: documentWidth * 0.1,
                        align: 'center'

                    },
                    {
                        title: '操作',
                        fixed: 'right',
                        align: 'center',
                        width: documentWidth * 0.1,
                        toolbar: '#bar_del'
                    }
                ]
            ],
            page: true,
                limits: [30, 40, 50],
                limit: 30,
            height: 'full-200'
        });

        table.on('tool(test)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if (layEvent === 'del') {
                layer.confirm('真的要删除吗?', function (index) {
                    layer.close(index);
                    $.ajax({
                        type: 'GET',
                        url: "{:url('admin/Code/del')}?codeid=" + data.codeid,
                        success: function (res) {
                            if (res.code == 1) {
                                layer.msg(res.msg, {icon: 6}, function () {
                                    obj.del();
                                    return false;
                                });
                            } else {
                                layer.msg(res.msg, {icon: 5}, function () {
                                    return false;
                                });
                            }
                        }
                    });
                });
            }
        });

        $("#chooseGroup").change(function(){
            var group = $("#chooseGroup").val();
            window.location.href = '/adminWeb/#/codelst?group='+group;
        });

    });

</script>
<!-- 样式 -->
<style scoped>
</style>