<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理-登陆</title>
    <link rel="stylesheet" href="http://sport.jiyichuancheng.com/static/admin/css/layui.css">
    <link rel="stylesheet" href="http://sport.jiyichuancheng.com/static/admin/css/admin.css">
</head>
<body>
<div id="container">
    <div></div>
    <div class="admin-login-background">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <h3>sport后台登录系统</h3>
            </div>
            <div>
                <i class="layui-icon layui-icon-username admin-icon admin-icon-username"></i>
                <input type="text" name="username" placeholder="请输入用户名"
                       autocomplete="off"
                       class="layui-input admin-input admin-input-username">
            </div>
            <div>
                <i class="layui-icon layui-icon-password admin-icon admin-icon-password"></i>
                <input type="password" name="password"
                       placeholder="请输入密码"
                       autocomplete="off"
                       class="layui-input admin-input">
            </div>
            <button class="layui-btn admin-button" lay-submit lay-filter="login">登陆</button>


        </form>
    </div>
</div>
<script src="http://sport.jiyichuancheng.com/static/admin/layui.js"></script>
<script type="text/javascript">
    layui.use(['form','layer','jquery'], function () {

        // 操作对象
        var form = layui.form;
        var $ = layui.jquery;
        form.on('submit(login)',function (data) {
            $.post('/login', data.field, function(res) {
                layui.use(['layer'],function () {
                    var layer = layui.layer;
                    console.log(res);
                    if(res.code === 1){
                        layer.msg(res.msg,{ icon:6},function () {
                            window.location.href = '/adminWeb/#/';
                        });
                    } else {
                        layer.msg(res.msg,{ icon:5},function () {
                            return false;
                        });
                    }

                })
            });
            return false;
        })

    });
</script>
</body>
</html>
